<div class="jumbotron mt-4">
  <div class="display-4">Aplicacion de notas hecha en NodeJs y mongoDB</div>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Explicabo est cumque provident veritatis iste libero asperiores! Illum
    eveniet cum ratione delectus alias ab maxime culpa, tempore doloribus
    provident voluptas sit.</p>
  <hr class="my-4" />
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Placeat provident illo enim veniam voluptatibus quidem dolorem, veritatis
    deserunt animi, maxime architecto. Dolore dolorum voluptas rem soluta
    temporibus iure esse natus.</p>
  <a href="https://www.google.com/" class="btn btn-primary btn-block">Google</a>
</div>